<% @title = "Diagnosis Report" %>

<% 
rows = [
  {"blood" => ["Blood Test", @diagnosis.blood], "anthropometry" => ["Anthropometry", @diagnosis.anthropometry]},
  {"urine" => ["Urine Test", @diagnosis.urine], "other" => ["Others", @diagnosis.other]}
]
%>

<div class="diag_show">
  <div class="row-fluid">
    <%= render :partial => "diagnoses/summary" %>
  </div>

  <% rows.each do |vars| %>
    <div class="row-fluid">
      <% vars.each_pair do |key, value| %>
        <div class="span6">
          <h3>
            <%= value[0] %> 
            <% if value[1].present? %>
              <small>(<%= link_to("edit", edit_diagnosis_path(@diagnosis, :entity => key)) %>)</small>
            <% end %>
          </h3>
          <%= render :partial => "diagnoses/details", :locals => {:object => value[1], :object_symbol => key} %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>