@import "bourbon";

.coin-slider-container{
  margin: 0 auto 30px auto;
  float: none;

  .cs-title{
    width: auto;
    left: 600px !important;
    top: 10px !important;
    bottom: 173px !important;
    @include linear-gradient(#004D9F, #049CD9);
    @include border-radius(5px);

    p{
      text-align: right;
    }

    h2{
      color: #FFF;
      margin-bottom: 10px;
    }
  }
}